:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3:rgb(90, 184, 184);
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 
html {
  box-sizing: border-box;
  height: 100vh;
  font-size: 62.5%; 
}
body {
  min-height: 100vh;
  background-color: var(--gris1);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}


h1, h2 {
   margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
a {
  text-decoration: none;
  color: aqua;
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: color .3s ease;
  color: aqua;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: aqua;
  color:white;
  border-radius:48%;
}
.btn-primario:hover {
  background: aqua;;
}
.btn-secundario {
  background-color: aqua;;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: aqua;
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: aqua;
}

.btn-eliminar {
  background-color: aqua;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
}

.cerrar-sesion {
  color: aqua;
}

.form-usuario {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
  color: aqua;
}
.campo-form input[type="password"],
.campo-form input[type="username"],
.campo-form input[type="text"] {
  border: 1px solid aquamarine;
  padding: 1rem;
  flex: 1;
}

.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
  color: black;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  color: aqua;
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: aqua;
}

.first-radio-button {
  margin-right: 20px;
}

.campo-form > div > label {
  font-size: 14px;
}

.radio-input {
  margin-right: 10px;
}